
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Local Environment Variables
.env

# Output Files (Local testing)
*.pptx
!template.pptx
